<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>estore</display-name>
  <servlet>
    <servlet-name>regg</servlet-name>
    <servlet-class>controller.register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>controller.Loginservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lout</servlet-name>
    <servlet-class>controller.LogoutSev</servlet-class>
     </servlet>
      <servlet>
     <servlet-name>edit</servlet-name>
    <servlet-class>controller.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regg</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/editsev</url-pattern>
  </servlet-mapping>
</web-app>